@import 'colors';

.root {
    font-size: 0.85em;
    color: rgba(var(--lotta-text-color), 0.5);
    display: inline-flex;
    & a {
        padding-right: var(--lotta-spacing);
    }
    & .paths {
        margin: auto;

        & a {
            padding-right: var(--lotta-spacing);
            padding-left: var(--lotta-spacing);
        }
    }
}
