.lotta-navigation-button {
  border: none;
  padding: .5em;
  letter-spacing: 1px;
  font-size: 0.8rem;
  border-radius: 0.5em;
  border: 1px solid transparent;
  display: flex;
  min-height: 0;
}

.lotta-navigation-button:hover {
  background-color: #0000000f;
  transition: linear;
  transition-duration: 0.2s;
}

.lotta-navigation-button .lotta-button_icon svg {
  width: .8em;
  height: .8em;
}

.lotta-navigation-button .lotta-button_icon ~ .lotta-button_text {
  padding: 0;
  margin-right: auto;
}