.lotta-navigation-button {
  background: none;
  color: black;
  border: none;
  padding: .8em 1.5em;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
  border-radius: 3em;
  margin: 0.5em;
  border: 1px solid transparent;
  display: flex;
}

.lotta-navigation-button:hover {
  background-color: #0000000f;
  transition: linear;
  transition-duration: 0.2s;
}

.lotta-navigation-button.selected {
  border: 1px solid #3cb371;
}

.lotta-navigation-button_icon {
  display: flex;
  color: #3cb371;
}

.lotta-navigation-button_icon-text {
  margin: auto 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
}