@import 'breakpoints';

.root {
    .gridContainer {
        display: flex;
        @media screen and (max-width: $max-sm) {
            flex-direction: column-reverse;
        }
        aside {
            padding: var(--lotta-spacing);
            position: relative;
            width: 20%;
            flex-shrink: 0;
            @media screen and (max-width: $max-sm) {
                width: 100%;
            }
        }
        & > section {
            padding: var(--lotta-spacing);
            position: relative;
        }
    }
    .container {
        display: block;
    }

    .divider {
        margin-top: calc(2 * var(--lotta-spacing));
        margin-bottom: calc(2 * var(--lotta-spacing));
        width: 80%;
        @media screen and (max-width: $max-sm) {
            width: 100%;
        }
    }

    .groupList {
        margin-bottom: 60;
        li {
            list-style: none;
            padding-top: var(--lotta-spacing);
            padding-bottom: var(--lotta-spacing);
            padding-right: calc(2 * var(--lotta-spacing));
            padding-left: calc(2 * var(--lotta-spacing));
        }
    }

    .groupListItem {
        padding-top: 0;
    }

    .dangerSection {
        width: 100%;
        position: absolute;
        bottom: var(--lotta-spacing);
        left: var(--lotta-spacing);
        @media screen and (max-width: $max-sm) {
            position: relative;
            bottom: initial;
            left: initial;
            margin-bottom: calc(2 * var(--lotta-spacing));
        }
    }

    .changePersonalData {
        display: flex;
        justify-content: space-between;
        button {
            border: 0;
        }
        @media screen and (max-width: $max-xs) {
            flex-wrap: wrap;
            button {
                width: 100%;
            }
        }
    }
    .subheader {
        color: rgba(var(--lotta-text-color), 0.7);
        box-sizing: border-box;
        list-style: none;
        font-weight: 500;
        line-height: 48px;
        padding-left: calc(2 * var(--lotta-spacing));
        padding-right: calc(2 * var(--lotta-spacing));
        top: 0;
        z-index: 1;
        position: sticky;
        background-color: inherit;
    }
}
